# Nest
NODE_PORT=3001
# Set NODE ENV to development or production
NODE_ENV=development

# Keycloak
# KEYCLOAK_BASE_URL="http://localhost:8080" # Running locally
KEYCLOAK_BASE_URL="http://cinepik-keycloak:8080" # Running in docker
KEYCLOAK_REALM="cinepik"
KEYCLOAK_CLIENT_ID="nest-auth"
KEYCLOAK_CLIENT_SECRET="<REPLACE_ME>"

# Port for Logstash
LS_PORT=12201
# Movies API Rapid API Key. More info here: https://rapidapi.com/elisbushaj2/api/movies-api14
MOVIES_RAPID_API_KEY="<REPLACE_ME>"
